{% extends 'base.html.twig' %}

{% block title %}Détails MvtBonsValide{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mvt_bon_valide_show.css') }}">
{% endblock %}

{% block body %}
<br>
<h2 class="page-title">
    Consultation du mouvement : {{ mvt_bons_valide.DBONS }}
</h2>
<div class="show-container">

    {# ===== LEFT CONTENT ===== #}
        <div class="main-content">
        
        {% for mvt in mvt_bons_valides %}
                
        <div class="show-card">
        
            <h3 class="title">
                Détails du bon du {{ mvt.D_BONS }}
            </h3>
        
            <div class="info-grid">
            
                <div class="info-row">
                    <span class="label">Date BONS</span>
                    <span class="value">{{ mvt.D_BONS }}</span>
                </div>
            
                <div class="info-row">
                    <span class="label">Montant Annoncés</span>
                    <span class="value">{{ mvt.MAN }}</span>
                </div>
            
                <div class="info-row">
                    <span class="label">Montant Soumis</span>
                    <span class="value">{{ mvt.MSM1 }}</span>
                </div>
            
                <div class="info-row">
                    <span class="label">Montant Adjugés</span>
                    <span class="value">{{ mvt.MAD1 }}</span>
                </div>
            
                <div class="info-row">
                    <span class="label">4 semaines :</span>
                    <span class="value">{{ mvt.taux[1] ?? '-' }}</span>
                </div>
                <div class="info-row">
                    <span class="label">26 semaines :</span>
                    <span class="value">{{ mvt.taux[3] ?? '-' }}</span>
                </div>
                <div class="info-row">
                    <span class="label">52 semaines :</span>
                    <span class="value">{{ mvt.taux[5] ?? '-' }}</span>
                </div>
                <div class="info-row">
                    <span class="label">12 semaines :</span>
                    <span class="value">{{ mvt.taux[2] ?? '-' }}</span>
                </div>
                <div class="info-row">
                    <span class="label">26 semaines :</span>
                    <span class="value">{{ mvt.taux[4] ?? '-' }}</span>
                </div>
            
            </div>
        
        </div>
        <div class="actions">
            <a href="{{ path('app_mvt_bons_valide_index') }}" class="btn btn-back">
                <i class="bi bi-arrow-left"></i> Retour
            </a>

            <a href="{{ path('app_mvt_bons_valide_edit', {'id': mvt_bons_valide.NUMMVT}) }}"
               class="btn btn-edit">
                 <i class="bi bi-pencil"></i> Modifier
            </a>
        </div>
        {% endfor %}
        
        </div>
    

    {# ===== RIGHT SIDEBAR HISTORIQUE ===== #}
    <div class="sidebar">

        <div class="history-card">

            <h4>Historique</h4>

            <div class="history-section">

                <div class="history-item creation">
                    <strong>Création</strong><br>
                    {{ mvt_bons_valide.createdAt ? mvt_bons_valide.createdAt|date('d/m/Y H:i') : 'N/A' }}
                    <br>
                    <small>Auteur: <strong>{{ mvt_bons_valide.createdBy ?? 'N/A' }}</strong></small>
                </div>

                <hr>

                {% for mvt in mvt_bons_valides %}

                    {% for historique in mvt.historiques %}

                        <div class="history-item update">
                            <strong>Modification</strong><br>
                        
                            {{ historique.DATE_MODIFICATION
                                ? historique.DATE_MODIFICATION
                                : 'N/A' }}
                            
                            <br>
                            
                            <small>Auteur: <strong>{{ historique.MODIFIE_PAR ?? '' }}</strong></small>
                        </div>
                    
                    {% else %}
                    
                        <p class="empty">Aucune modification</p>
                    
                    {% endfor %}
                    
                {% endfor %}

            </div>

        </div>

    </div>

</div>

{% endblock %}